<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>登录页面</title>
</head>
<body>
	<h1><%= title %></h1>
	用户名：<input type="text" id="username"/><br/>
	密码：<input type="password" id="psw"/><br/>
	<button>登录</button>
	
</body>
</html>