<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>注册</title>
</head>
<body>
	<h1><%= title %></h1>
	用户名：<input type="text" id="username"/><br/>
	密码：<input type="password" id="psw"/><br/>
	<button onclick="regist()">注册</button>
	
</body>
</html>
<script src="/javascripts/jquery-1.11.1.min.js"></script>
<script>
	function regist(){
		$.ajax({
			url:"/api/regist",
			type:"post",
			data:{
				username:$("#username").val(),
				psw:$("#psw").val(),
				
			},
			success:function(res){
				console.log(res);
				if(res.status==1){
					location.href="/login";
				}else{
					alert(res.message);
				}
			}
		})
	}
</script>